services:
  match-making-api:
    container_name: "match-making-api"
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    ports:
      - "4991:4991"
    volumes:
      - .blob:/app/match_making_files
    depends_on:
      - mongodb
      - kafka
      - dragonfly
    env_file:
      - .env
    environment:
      - DEV_ENV="docker"
      - MONGO_URI=mongodb://mongodb:37019/match-making
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - REDIS_ADDR=dragonfly:6379
    networks:
      - svc

  consumer-matchmaking-commands:
    container_name: "consumer-matchmaking-commands"
    build:
      context: .
      dockerfile: Dockerfile
      target: consumer-matchmaking-commands
    depends_on:
      - mongodb
      - kafka
      - dragonfly
    env_file:
      - .env
    environment:
      - DEV_ENV="docker"
      - MONGO_URI=mongodb://mongodb:37019/match-making
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - REDIS_ADDR=dragonfly:6379
    networks:
      - svc
    restart: unless-stopped

  consumer-server-allocated:
    container_name: "consumer-server-allocated"
    build:
      context: .
      dockerfile: Dockerfile
      target: consumer-server-allocated
    depends_on:
      - mongodb
      - kafka
      - dragonfly
    env_file:
      - .env
    environment:
      - DEV_ENV="docker"
      - MONGO_URI=mongodb://mongodb:37019/match-making
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - REDIS_ADDR=dragonfly:6379
    networks:
      - svc
    restart: unless-stopped

  consumer-match-started:
    container_name: "consumer-match-started"
    build:
      context: .
      dockerfile: Dockerfile
      target: consumer-match-started
    depends_on:
      - mongodb
      - kafka
      - dragonfly
    env_file:
      - .env
    environment:
      - DEV_ENV="docker"
      - MONGO_URI=mongodb://mongodb:37019/match-making
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - REDIS_ADDR=dragonfly:6379
    networks:
      - svc
    restart: unless-stopped

  consumer-match-completed:
    container_name: "consumer-match-completed"
    build:
      context: .
      dockerfile: Dockerfile
      target: consumer-match-completed
    depends_on:
      - mongodb
      - kafka
      - dragonfly
    env_file:
      - .env
    environment:
      - DEV_ENV="docker"
      - MONGO_URI=mongodb://mongodb:37019/match-making
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - REDIS_ADDR=dragonfly:6379
    networks:
      - svc
    restart: unless-stopped

  consumer-ratings-updated:
    container_name: "consumer-ratings-updated"
    build:
      context: .
      dockerfile: Dockerfile
      target: consumer-ratings-updated
    depends_on:
      - mongodb
      - kafka
      - dragonfly
    env_file:
      - .env
    environment:
      - DEV_ENV="docker"
      - MONGO_URI=mongodb://mongodb:37019/match-making
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - REDIS_ADDR=dragonfly:6379
    networks:
      - svc
    restart: unless-stopped

  worker-queue-status:
    container_name: "worker-queue-status"
    build:
      context: .
      dockerfile: Dockerfile
      target: worker-queue-status
    depends_on:
      - mongodb
      - kafka
      - dragonfly
    env_file:
      - .env
    environment:
      - DEV_ENV="docker"
      - MONGO_URI=mongodb://mongodb:37019/match-making
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - REDIS_ADDR=dragonfly:6379
    networks:
      - svc
    restart: unless-stopped

  mongodb:
    container_name: "mongodb"
    image: mongo:latest
    ports:
      - "37019:27017"
    volumes:
      - .mongodb:/data/db
    networks:
      - default
      - svc

  dragonfly:
    container_name: "dragonfly"
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    ports:
      - "6379:6379"
    volumes:
      - .dragonfly:/data
    networks:
      - svc

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"
    networks:
      - svc

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
      - "39092:39092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - svc

networks:
  svc:
    driver: bridge
